*{
    box-sizing: border-box;
}


body{
    background-color: #22245b;
}

.movie-container{
    background-color: #373b69;
    width: 300px;

}

.movie-container > img{
    width: 300px;
}

.movie-info{
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px;

    box-shadow: 0px 4px  rgba(0,0,0,0.2);
}

.movie-info > h3{
    margin: 0;
}
