*{
    box-sizing: border-box;
}


body{
    background-color: #22245b;
    display: flex;
    flex-wrap: wrap;
}



.movie-container{
    cursor: pointer;
    background-color: #373b69;
    width: 300px;
    margin: 30px;

    box-shadow: 10px 5px 4px rgba(0,0,0,0.2);
}

.movie-container > img{
    width: 300px;
}

.movie-info{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px;



}

.movie-info > h3{
    margin: 0;
}

span{
    background-color: #22245b;
    border-radius: 5px;
    padding: 0 10px;
}